@import"variables";

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    background-color: $primary-brown;

    #header-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;

        padding-top: 5rem;
        padding-bottom: 11.25rem;
    }
}

#dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    
    #dashboard-container {
        display: flex;
        align-items: center;
        
        gap: 2rem;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: -3rem;

        @media(max-width: 1020px) {
            font-size: 93.75%; // 15px
            flex-direction:column;
            gap: 2rem;
            padding: 2rem 0 ;
            justify-content: center;
            margin-top: -5rem;
            
        }

        .dash-item {
            
            background-color: #fff;
            padding: 1.13rem 1.56rem;
            width: 20.69rem;
            

            @media(max-width: 1020px) {
                margin: 0;
                gap: 1.5rem;
                width: 25.69rem;
                
                
            }
        }
    }
}